* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

body {
  background-color: #000;
}

li {
  list-style-type: none;
}

input {
  width: 100%;
  background-color: transparent;
  border: 1px solid #9E78CF;
  padding: 10px 15px;
  color: #fff;
  border-radius: 10px;
  margin-bottom: 60px;
}



ul button {
  background-color: transparent;
  border: none;
}

ul li {
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  align-items: center;
  padding: 20px 25px;
  background-color: #000;
  color:#9E78CF;
  margin-top: 15px;
}

.App {
background: #1D1825;
padding: 50px;
}

h3 {
  color: #fff;
  margin-bottom: 15px;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

.form {
  display: flex;
  gap: 10px;
  button {
    width: 38px;
    height:  38px;
    border-radius: 10px;
    border: 0px solid;
    background-color: #9E78CF;
  }
}

.taskDone {
  margin-top: 60px;
  li {
    text-decoration:line-through;
    color:  #78CFB0;;
  }
}